{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-5/css/fontawesome-all.min.css' %}">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'css/styleLog.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
    </script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> 
    </script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> 
    </script> 
    <style> 
        .navbar-nav { 
            margin-left: auto; 
        } 
    </style>
</head>
<body>
	<section class="banner-area" id="home">
				<!-- Start Header Area -->
				<header class="default-header">
					<!-- <nav class="navbar navbar-expand-lg  navbar-light"> -->
						<!-- <div class="container" style="margin: 10px 0px 0px 120px">
							  <a class="navbar-brand" href="/">
							  	<img src="{% static 'img/PicsArt_white.png' %}" alt="">
							  </a>						
						</div> -->
						<nav class="navbar navbar-expand-sm bg-dark"> 		  
				        	<ul class="navbar-nav" style="margin-right: 5%;">
				            <li class="nav-item" style="padding-right: 10px"><a class="nav-link" href="/">Home</a></li> 
				        </ul> 
					</nav>
				</header>
				<!-- End Header Area -->				
			</section>
	<div class="page-content" style="background-color: #696969">
		<div class="form-v5-content">
		{% block content %}
			{% if request.path == '/login/' %}
			<form class="form-detail" method = "post" autocomplete="off" enctype="multipart/form-data">
				<h2>Log-In/Sign-In</h2>
				{% csrf_token %}
				{% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} style="color: red" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {{ form|crispy  }}
				<div class="form-row-last">
					<input type="submit" name="register" class="registers" value="Login">
				</div>
				<div class="form-group col-lg-12 mx-auto mb-0">
						<!-- <a href="/logintar/" class="btn btn-primary btn-block py-2">
                            <p style="text-align: center;" class="font-weight-bold">Forgot Username / Password?</p>
                        </a> -->
                        <a href="/register/" class="btn btn-primary btn-block py-2">
                            <p style="text-align: center;" class="font-weight-bold"><b>Don't have an Account? (Sign-up)</b></p>
                        </a>
                    </div>
			</form>

			{% elif request.path == '/logout/' %}
			<div style="margin: 20px">
			  <h2>Logged out</h2>
			  <p>You have been successfully logged out.</p>
			  <p><a href="{% url 'login' %}">Log in</a> again.</p>
			  <p>Want to go Home Page.</p>
			  <p><a href="{% url 'home' %}">Home</a></p>
			</div>
			{% endif %}
			{% endblock %}
		</div>
	</div>
</body>
</html>